<footer class="section-bg-white ">

  <section class="section-bg-white section-page">
    <div class="container container-small u-text-center">
      <p class="text-spaced text-large u-mb0"><span class="color-blue">T</span> <a class="u-tdn link-reverse" href="tel:{{ site.contact.tel }}">{{ site.contact.tel_spaced }}</a> <span class="color-blue">E</span> <a class="u-tdn link-reverse" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a> <br> {{ site.contact.address }}</p>
    </div><!-- /container-small -->
  </section>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- JS -->
<!-- inject:js -->
<script src="assets/javascript/index.js"></script>
<!-- endinject -->

<!-- Google Analytics -->
<!-- <script>(_gaq=document.createElement("script")).src=(/^....s/.test(location)?"//ssl":"//www")+".google-analytics.com/ga.js",(_gaq.a=_gaq.async=document.getElementsByTagName("script")[0]).parentNode.insertBefore(_gaq,_gaq.a),_gaq=[['_setAccount','UA-13215406-1'],['_trackPageview'],['_trackPageLoadTime']]</script> -->
