<section class="section-page section-bg-white">
  <div class="container">
    <div class="row">
      <div class="one-half column footer-cta-item u-text-center">
        <a target="_blank" href="{{site.contact.facebook}}" class="u-tdn">
          <img src="assets/images/thumb.svg" alt="Like us on Facebook" title="Like us on Facebook">
          <p class="color-blue text-spaced text-large u-mb0">Like us on Facebook</p>
        </a><!-- /flex-grid-item -->
      </div><!-- /half.column -->
      <div class="one-half column footer-cta-item u-text-center">
        <a target="_blank" href="{{site.contact.google}}" class="u-tdn">
          <img src="assets/images/google.svg" alt="Write a review on Google" title="Write a review on Google">
          <p class="color-blue text-spaced text-large u-mb0">Write a review on Google</p>
        </a><!-- /flex-grid-item -->
      </div><!-- /half.column -->
    </div><!-- /row -->

  </div><!-- /container -->
</section>
