/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  display: inline-block;
  padding: 0 15px;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius;
  border: 2px solid;
  border-color: white;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
  min-width: 100px;
  @include transition;
  &:hover, &:focus {
    border-color: white;
    outline: 0;
    background-color: white;
    color: $link-color;
  }
  &:active {
    top: 1px;
  }
  &:disabled {
    background-color: $light-gray;
    &:hover, &:focus {
      background-color: $light-gray;
    }
  }
}

.button-blue {
  background-color: $link-color;
  color: white;
  border: none;
  &:hover, &:focus {
    background-color: darken($link-color,9%);
    color: white;
  }
}

.button-ghost-blue {
  color: $link-color;
  border-color: $link-color;
  &:hover, &:focus {
    border-color: $link-color;
    background-color: $link-color;
    color: white;
  }
}

.button-dark-blue {
  background-color: darken($link-color,9%);
  color: white;
  border: none;
  &:hover, &:focus {
    background-color: darken($link-color,18%);
    color: white;
  }
}

.button-unrounded {
  border-radius: 0;
}

.button-transparent {
  border-color: transparent;
  &:hover, &:focus {
    border-color: transparent;
    color: white;
  }
}

.button-white {
  background-color: #fff;
  color: $link-color;
  border: 0;
  &:hover, &:focus {
    background-color: darken(#fff, 9%);
    border: 0;
  }
}

.button-header {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.button-arrow {
  position : relative;
  &:after {
    content:"";
    width:0;
    height:0;
  }
}

.button-arrow_right:after {
  position: absolute;
  top: calc(50% - 10px);
  right:-10px;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-left:10px solid currentColor;
}

.button-small {
  font-size: 1.2rem;
  line-height: 35px;
}

.button-large {
  font-size: 2.0rem;
}

.button-wide {
  padding: 0 30px;
}

.button-full-width {
  min-width: 100%;
}

.button-gradient {
  background-image: linear-gradient(-180deg, rgba(237,237,237,0.00) 0%, rgba(56,168,223,0.14) 100%);
}
