/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slider {
  position: relative;
}

.slick-slider {
  margin-bottom: 0;
}

.slider-item {
  background-repeat: no-repeat;
  margin-bottom: 0;
  text-align: center;
  // .one-half.column {
  //   width: 48%;
  // }
  img {
    width: 175px;
    margin: auto;
  }
  p {
    font-size: 1.4rem;
    @media (min-width: $phablet) {
      font-size: 1.6rem;
    }
    @media (min-width: $tablet) {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
  }
  @media (min-width: $phablet) {
    text-align: left;
    img {
      width: auto;

    }
  }
}

.slick-dots {
  list-style-type: none;
  text-align: center;
  padding: $base-spacing 0;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  li {
    display: inline-block;
    padding: 0;
    margin: 0  $small-spacing/2;
    background-color: transparent;
    border: 2px solid $link-color;
    border-radius: 500px;
    height: 14px;
    width: 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    @include transition;
    &:hover, &:focus {
      cursor: pointer;
      border: 2px solid darken($link-color, 9%);
    }
  }
  .slick-active {
    background-color: $link-color;
    &:hover, &:focus {
      cursor: pointer;
      background-color: darken($link-color, 9%);
    }
  }
  button {
    text-indent: -9999px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin: 0;
  }
}
