/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0; }
pre,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

.header-primary {
  position: relative;
  z-index: 2;
  .logo {
    // margin: $large-spacing auto;
  }
}

.header-helper {
  margin-bottom: $small-spacing;
}

.section-page {
  position: relative;
  .title-large {
    margin-bottom: $base-spacing;
  }
}

.section-page {
  padding: $base-spacing 0;
}
.section-page-large2 {
  padding: $large-spacing 0;
  @media (min-width: $phablet) {
    padding: $large-spacing*2 0;
  }
}

.section-page-large {
  min-height: 100vh;
}

.section-page-medium {
  min-height: 75vh;
}

.section-page-small {
  min-height: 50vh;
}

.section-hero {
  margin-top: 5vh;
  position: relative;
  z-index: 2;
  @media (min-width: $horizontal-nav) {
    margin-top: 10vh;
  }
  .arrow {
    margin-top: 5%;
  }
}

.section-no-padding {
  padding: 0;
  overflow: none;
}

.section-absolute {
  position: absolute;
  width: 100%;
  top: 25%;
}

.section-button-action {
  margin-top: $small-spacing;
}

.section-quote-large {
  margin-bottom: $small-spacing;
}
