/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.u-min-full-width {
  min-width: 100%;
}
.u-pull-right {
  float: right;
}
.u-pull-left {
  float: left;
}
.u-center {
  margin: 0 auto;
}
.u-center-table {
    display: table;
    @extend .u-center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
.u-text-center {
  text-align: center;
}
.u-hide-text {
  @include hide-text;
}
.u-tdn {
  text-decoration: none;
}
.u-lstn {
  list-style-type: none;
}
.u-ttu {
  text-transform: uppercase;
}
.u-mb0 {
  margin-bottom: 0;
}
.u-mb1 {
  margin-bottom: 1rem;
}
.u-mb-small {
  margin-bottom: $small-spacing;
}
.u-mb-base {
  margin-bottom: $base-spacing;
}
.u-mb-large {
  margin-bottom: $large-spacing;
}
.u-v-align-middle {
  vertical-align: middle;
}
.u-flex {
  display: flex;
}
.u-flex-v-center {
  align-items: center;
}
