---
layout: treatment
title: "Price Guide &ndash; Dental Solutions"
hash_link: "price-guide"
---

<section class="section-page-large2 u-flex-center-center">
  <div class="container">
    <h1 class="title-spaced u-ttu u-text-center">Competitive &amp; Affordable</h1>
  </div><!-- /container -->
</section>

{% include treatments-nav.html %}

<section class="section-page">
  <div class="container">

    <table id="pricing-table" class="stripe">
      <thead>
        <tr>
          <th>Treatment Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for treatment in site.data.price_guide %}
        <tr>
          <td>{{ treatment.name }}</td>
          <td>{{ treatment.price }}</td>
          <td>{{ treatment.category }}:</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div><!-- /container -->
</section>
